<template [ngIf]="visible">
    <div class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div *ngIf="!simple" class="modal-header">
                    <ng-content select="[modal-header]"></ng-content>
                </div>
                <div class="modal-body">
                    <ng-content select="[modal-body]"></ng-content>
                </div>
                <div *ngIf="!simple" class="modal-footer">
                    <ng-content select="[modal-footer]"></ng-content>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop in"></div>
</template>